swagger: '2.0'
info:
  description: API für Ereignisse in BaufiSmart-Vorgängen.
  version: '0.2.0'
  title: Ereignisse API
  contact:
    name: Europace AG
    url: 'http://www.europace2.de'
    email: helpdesk@europace2.de
host: baufismart.api.europace.de
basePath: /v1
tags:
- name: Ereignisse
  description: Dieser Endpunkt repräsentiert die Vertriebssicht.
schemes:
- https
consumes:
- application/json
produces:
- application/json;charset=UTF-8
paths:
  '/ereignisse':
    get:
      tags:
      - Vorgangsereignisse
      summary: alle Ereignisse eines Vorgangs abrufen
      description: >-
        Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart
        erzeugt wurde.
      operationId: getAlleEreignisse
      produces:
      - application/json;charset=UTF-8
      parameters:
      - name: vorgangsNummer
        in: path
        description: Nummer des Vorgangs
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Ereignisse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
        '502':
          description: Bad Gateway
          schema:
            $ref: '#/definitions/Error'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - API
securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: 'https://api.europace.de/login'
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.
definitions:
  Ereignisse:
    type: object
    properties:
      ereignisse:
        type: array
        items:
          $ref: '#/definitions/Ereignis'
    title: Ereignisse

  Partner:
    type: "object"
    properties:
      partnerId:
        type: "string"
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      nachname:
        type: "string"
      vorname:
        type: "string"
      externePartnerId:
        type: "string"
      _links:
        type: object
        properties:
          partner:
            $ref: "#/definitions/Relation"
            description: URL zum Partner
          kontaktdaten:
            $ref: "#/definitions/Relation"
            description: URL zu den Kontaktdaten
          avatar:
            $ref: "#/definitions/Relation"
            description: URL zum Avatar
    title: "Partner"

  Ereignis:
    type: object
    properties:
      vorgangsnummer:
        type: string
        description: Die Vorgangsnummer
      meldung:
          type: string
          description: Beschreibung des Ereignisses
      ereignistyp:
            type: string
            enum:
            - DOKUMENTE
            - STATUS_AENDERUNG
            - WIEDERVORLAGE
            - KOMMENTAR
            - KOMMUNIKATION
            - HINWEIS
      zeitpunkt:
        type: string
        format: date-time
        description: Zeitpunkt des Ereignisses
      quelle:
        $ref: '#/definitions/Partner'
      dokumente:
        type: array
        items:
          $ref: '#/definitions/Dokumente'
    title: Ereignis

  Dokumente:
    type: object
    properties:
      name:
        type: string
      _links:
        $ref: "#/definitions/DokumentenLink"

  DokumentenLink:
    type: object
    properties:
      download:
        $ref: "#/definitions/Relation"

  Relation:
    type: object
    properties:
      href:
        type: string
        format: uri
        description: A HAL Ref
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
      traceId:
        type: string
    title: Error
